@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oxygen:wght@400;700&display=swap');

h1,
h2,
h3,
h5,
h6 {
  font-size: 2.4rem;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
}

.widget-title {
  font-size: 2.2rem;
}

body,
button,
input,
select,
textarea {
  font-weight: normal;
}

code,
kbd,
pre,
samp,
var {
  border: none;
}

.home .widget-recent_posts .item {
  display: inherit;
  margin-top: 2rem;
  color: #263238;
}

.section .list-container .item {
  display: inherit;
  margin-top: 2rem;
  color: #263238;
}

.taxonomy .site .main .content .list-container .list .item {
  display: inherit;
  margin-top: 2rem;
  color: #263238;
}

.item-title a {
  font-size: 2.4rem;
  font-weight: bold;
  color: #263238;
}

.meta time {
  font-size: 1rem;
  font-weight: lighter;
  color: #6f706f;
}

.desc,
.copyright {
  color: #6f706f;
}

.entry-meta .posted-on,
.reading-time {
  color: #6f706f;
}

.entry-content {
  font-family: 'Open Sans', sans-serif;
}

.entry-content h2,
h3,
h4 {
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }

  h1,
  h2,
  h3,
  h5,
  h6 {
    font-size: 2.3rem;
  }

  .entry-content h2,
  h3 {
    font-size: 1.8rem;
  }
}

.site-title,
h1 {
  font-size: 2.4em;
}

.entry-content p {
  font-size: 1.15rem;
}

.entry-content blockquote p {
  color: #8a8d8a;
  font-size: 1.165em;
}

.container .item,
.item-current {
  font-family: 'Montserrat', sans-serif;
}

.home .header-info .site-title,
h1 {
  font-size: 3rem;
  font-weight: 900;
}